* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.main {
    max-width: 720px;
    min-width: 360px;
    padding: 15px 15px 0 15px;
}

small {
    color: #808080;
    font-size: 12px;
}

.header {
    display: flex;
}

.header__img {
    z-index: 2;
    min-width: 120px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__img {
    min-width: auto;
  }
}

.header__info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__info-block__name-block {
    margin: 0 0 10px 10px;
}

.header__info-block__name-block * {
    margin: 0 0 3px 0;
}

.header__info-block__promo-block {
    background-color: #fffbc8;
    margin-left: -60px;
    padding: 5px;
    border-radius: 5px 5px 5px 0;
    border: 1px solid #cecabf;
}

.header__info-block__promo-block p {
    margin: 3px 0 3px 60px;
}

/*----------------------------------------------------*/
.services {
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px 5px 0;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px 120px;
}

.total:not(:first-child) {
    margin-right: 20px;
}

/*----------------------------------------------------*/

.service-block {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    border: 1px solid;
    border-color: #cecabf transparent #cecabf transparent;
}

.service-block__numbers {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-block__info {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #cecabf;
    width: 90%;
}

.service-block__info__text {
    position: relative;
}

.service-block__info__text span {
    position: relative;
    z-index: 5;
}

.service-block__info__text::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: #b1e19b;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
}

.service-block__info__text:first-child::before {
    width: 70%;
}

.service-block__info__text:not(:first-child):not(:last-child)::before {
    width: 20%;
    background-color: #ace2f8;
}

.service-block__info__text:last-child::before {
    width: 10%;
    background-color: #ace2f8;
}

.service-block__info__text:not(:first-child):not(:last-child) {
    margin: 2px 0 2px 0;
}

/*----------------------------------------------------*/
.reviews {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.reviews__more-info {
    display: flex;
  white-space: nowrap;
}

.reviews__like-block {
    display: flex;
}

.reviews__more-info * {
    margin: 3px 10px 3px 0;
}


.reviews__like-block__container {
    display: flex;
    align-items: center;
}

.reviews__like-block__container * {
    margin-left: 5px;
}


.heart {
    height: 8px;
    width: 8px;
    background-color: #73b4d5;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.heart::before, .heart::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #73b4d5;
    border-radius: 50%;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart:after {
    left: 5px;
    top: 0;
}

.bubble {
    width: 15px;
    height: 12px;
    background-color: #73b4d5;
    position: relative;
    border-radius: 1px;
}

.bubble::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    right: 4px;
    border: 2px solid;
    border-color: #73b4d5 #73b4d5 transparent transparent;
}


/*----------------------------------------------------*/
.comment-block {
    margin: 20px 0 20px 0;
}

.comment-block__user-info {
    display: flex;
    align-items: center;
}

.comment-block__user-info__name {
    text-transform: capitalize;
    padding-right: 10px;
}

.speech-bubble {
    position: relative;
    background: #f2fbff;
    padding: 10px;
    border: 1px solid #cecabf;
    word-wrap: break-word;
    margin-top: 10px;
}

.speech-bubble::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    bottom: 100%;
    border: 5px solid;
    border-color: transparent transparent #cecabf #cecabf;
}

.speech-bubble::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 31px;
    bottom: 100%;
    border: 4px solid;
    border-color: transparent transparent #f2fbff #f2fbff;
}

/*----------------------------------------------------*/

.footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 -15px 0 -15px;
}

.footer__comment-textarea {
    width: 100%;
    height: 70px;
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999;
    border-radius: 3px;
    resize: none;
    overflow: auto;
}

.footer__add-comment-button {
    font-size: 18px;
    font-weight: bold;
    background-color: #fdd639;
    border: none;
    border-radius: 1000px;
    width: 70%;
    height: 50px;
    margin: 20px 0 20px 0;
}



















